@import "tailwindcss";

:root {
  --background: #1c1d1f;
  --foreground: #e1e5cd;
}

body {
  font-family: var(--font-notoserif-sans), Arial, Helvetica, sans-serif;
}

/* Post Editor Config */
body .w-md-editor-text-pre>code,
body .w-md-editor-text-input {
  font-size: 18px !important;
  line-height: 1.2 !important;
}
/* Post Editor Display Config */
body .wmde-markdown {
  font-size: 18px !important;
}